# @package _global_
defaults:
  - /configs/eval_base.yaml
  - _self_

paths:
  checkpoint_path: /home/daizi/sam3/outputs/small_organized_quick_ft/sam3_sanitized_init.pt
  bpe_path: /home/daizi/sam3/sam3/assets/bpe_simple_vocab_16e6.txt.gz
  experiment_log_dir: /home/daizi/sam3/outputs/small_organized_quick_ft
  # coco_gt: /home/daizi/data/synthetic_wire/coco_all.json
  coco_gt: /home/daizi/sam3/img/small_organized/coco/annotations.json
  # img_path: /home/daizi/data/synthetic_wire
  img_path: /home/daizi/sam3/img/small_organized/rgb


scratch:
  use_presence_eval: true
  mask_postprocessor_thresholded:
    detection_threshold: 0.3
    always_interpolate_masks_on_gpu: false

  base_train_transform:
    - _target_: sam3.train.transforms.basic_for_api.ComposeAPI
      transforms:
        - _target_: sam3.train.transforms.segmentation.DecodeRle
        - _target_: sam3.train.transforms.basic_for_api.RandomResizeAPI
          sizes:
            _target_: sam3.train.transforms.basic.get_random_resize_scales
            size: ${scratch.resolution}
            min_size: 480
            rounded: false
          max_size:
            _target_: sam3.train.transforms.basic.get_random_resize_max_size
            size: ${scratch.resolution}
          square: true
          consistent_transform: false
        - _target_: sam3.train.transforms.basic_for_api.PadToSizeAPI
          size: ${scratch.resolution}
          consistent_transform: false
        - _target_: sam3.train.transforms.basic_for_api.ToTensorAPI
        - _target_: sam3.train.transforms.basic_for_api.NormalizeAPI
          mean: ${scratch.train_norm_mean}
          std: ${scratch.train_norm_std}

  collate_fn_train:
    _target_: sam3.train.data.collator.collate_fn_api
    _partial_: true
    repeats: ${scratch.hybrid_repeats}
    dict_key: all
    with_seg_masks: true

  matcher:
    _target_: sam3.train.matcher.BinaryHungarianMatcherV2
    focal: true
    cost_class: 2.0
    cost_bbox: 5.0
    cost_giou: 2.0
    alpha: 0.25
    gamma: 2
    stable: false

trainer:
  mode: train_only
  max_epochs: 1
  accelerator: cuda
  skip_saving_ckpts: false
  skip_first_val: true
  val_epoch_freq: 1
  empty_gpu_mem_cache_after_eval: false
  distributed:
    backend: nccl

  model:
    eval_mode: false
    enable_segmentation: true
    load_from_HF: false

  optim:
    amp:
      enabled: false

  data:
    train:
      _target_: sam3.train.data.torch_dataset.TorchDataset
      dataset:
        _target_: sam3.train.data.sam3_image_dataset.Sam3ImageDataset
        coco_json_loader:
          _target_: sam3.train.data.coco_json_loaders.COCO_FROM_JSON
          prompts: '[{"id": 1, "name": "wire"}]'
          include_negatives: true
          category_chunk_size: 8
          _partial_: true
        img_folder: ${paths.img_path}
        ann_file: ${paths.coco_gt}
        transforms: ${scratch.base_train_transform}
        load_segmentation: true
        max_ann_per_img: 200
        multiplier: 1
        training: true
      shuffle: true
      batch_size: ${scratch.train_batch_size}
      num_workers: 8
      pin_memory: false
      drop_last: false
      collate_fn: ${scratch.collate_fn_train}
    val: null

  loss:
    all:
      _target_: sam3.train.loss.sam3_loss.Sam3LossWrapper
      matcher: ${scratch.matcher}
      o2m_weight: 2.0
      o2m_matcher:
        _target_: sam3.train.matcher.BinaryOneToManyMatcher
        alpha: 0.3
        threshold: 0.4
        topk: 4
      use_o2m_matcher_on_o2m_aux: false
      loss_fns_find:
        - _target_: sam3.train.loss.loss_fns.Boxes
          weight_dict:
            loss_bbox: 1.0
            loss_giou: 1.0
        - _target_: sam3.train.loss.loss_fns.IABCEMdetr
          weak_loss: false
          weight_dict:
            loss_ce: 20.0
            presence_loss: 20.0
          pos_weight: 10.0
          alpha: 0.25
          gamma: 2
          use_presence: true
          pos_focal: false
          pad_n_queries: 200
          pad_scale_pos: 1.0
        - _target_: sam3.train.loss.loss_fns.Masks
          focal_alpha: 0.25
          focal_gamma: 2.0
          weight_dict:
            loss_mask: 200.0
            loss_dice: 10.0
          compute_aux: false
      loss_fn_semantic_seg: null
      scale_by_find_batch_size: true
    default:
      _target_: sam3.train.loss.sam3_loss.DummyLoss

  meters: null

  checkpoint:
    save_dir: ${launcher.experiment_log_dir}/checkpoints
    save_freq: 1

  logging:
    log_freq: 5
    log_scalar_frequency: 20

launcher:
  num_nodes: 1
  gpus_per_node: 1

submitit:
  use_cluster: false
