# @package _global_
defaults:
  - /configs/eval_base.yaml
  - _self_

paths:
  checkpoint_path: null
  bpe_path: /home/daizi/sam3/sam3/assets/bpe_simple_vocab_16e6.txt.gz
  experiment_log_dir: /home/daizi/sam3/outputs/real_wire_eval_2
  coco_gt: /home/daizi/data/real_wire/coco_easy.json
  img_path: /home/daizi/data/real_wire

scratch:
  use_presence_eval: false
  mask_postprocessor_thresholded:
    detection_threshold: 0.3
    always_interpolate_masks_on_gpu: false

trainer:
  accelerator: cuda
  distributed:
    backend: nccl
  optim:
    amp:
      enabled: true
  data:
    val:
      _target_: sam3.train.data.torch_dataset.TorchDataset
      dataset:
        _target_: sam3.train.data.sam3_image_dataset.Sam3ImageDataset
        coco_json_loader:
          _target_: sam3.train.data.coco_json_loaders.COCO_FROM_JSON
          include_negatives: true
          category_chunk_size: 8
          _partial_: true
        img_folder: ${paths.img_path}
        ann_file: ${paths.coco_gt}
        transforms: ${scratch.base_val_transform}
        max_ann_per_img: 100000
        multiplier: 1
        training: false
      shuffle: false
      batch_size: 1
      num_workers: 0
      pin_memory: false
      drop_last: false
      collate_fn:
        _target_: sam3.train.data.collator.collate_fn_api
        _partial_: true
        repeats: ${scratch.hybrid_repeats}
        dict_key: real_wire

  meters:
    val:
      real_wire:
        segm:
          _target_: sam3.eval.streaming_coco_writer.StreamingPredictionDumper
          iou_type: "segm"
          dump_dir: ${launcher.experiment_log_dir}/dumps/real_wire
          merge_predictions: true
          postprocessor: ${scratch.mask_postprocessor_thresholded}
          maxdets: 100
          stream_gt_path: ${paths.coco_gt}
          stream_eval_threshold: 0.5
          stream_eval_every_n_updates: 25
          stream_eval_min_images: 32
          stream_eval_compute_coco: true
          stream_eval_compute_demo: true
          stream_global_gather: false
          pred_file_evaluators:
            - _target_: sam3.eval.coco_eval_offline.CocoEvaluatorOfflineWithPredFileEvaluators
              gt_path: ${paths.coco_gt}
              tide: false
              iou_type: "segm"
            - _target_: sam3.eval.per_image_mask_metrics_fast.PerImageMaskMetricsFastEvaluator
              gt_path: ${paths.coco_gt}
              iou_type: "segm"
              threshold: 0.5
              confidence_thresholds: [0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 0.75, 0.8, 0.85, 0.9, 0.95]
              boundary_rel_tolerances: [0.001, 0.002, 0.003, 0.004, 0.005]
              num_workers: 36
              chunk_size: 1
              multiprocessing_context: "fork"
              torch_num_threads_per_worker: 1
              output_json: ${launcher.experiment_log_dir}/dumps/real_wire/per_image_metrics_segm.json
              output_csv: ${launcher.experiment_log_dir}/dumps/real_wire/per_image_metrics_segm.csv
  logging:
    log_freq: 5
    log_scalar_frequency: 20

launcher:
  num_nodes: 1
  gpus_per_node: 1

submitit:
  use_cluster: false
